<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link> -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"></link>


</head>
<body class="container">
	<h1>
		Register Face <span class="badge badge-secondary"> detection
			Application</span>
	</h1>

	<form th:object="${enquiry}" th:action="@{/enquiry}" method="post">
		<div class="form-group">
			<label class="form-label">Username</label> <input
				th:field="*{userName}" class="form-control" type="text"></input>

		</div>
		<div class="form-group">
			<label class="form-label">Phone</label> <input
				th:field="*{phoneNumber}" class="form-control" type="text"></input>
		</div>

		<div class="form-group">
			<label class="form-label">Message</label> <input
				th:field="*{message}" class="form-control" type="text"></input>
		</div>
		<div class="pull-left">
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>

</body>
</html>