<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link> -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"></link>
<!-- 
	1, 2, 3, 4, 6, 12
 -->

</head>
<body class="container">
	<h1>
		List - Face <span class="badge badge-secondary"> detection
			Application</span>
	</h1>
	


	<div class="row" th:each="fd : ${allFiles}">
		<div class="col-sm">
			<img alt="No Image" 
				width="128px"
				th:src="@{/images/__${fd.name}__}"
			src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"></img>
			<p th:text="${fd.name}"></p>
		</div>
		<!-- <div class="col-sm">
			<img alt="No Image"
			width="128px"
			 src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"></img>
		</div>
		<div class="col-sm">
			<img alt="No Image" 
			width="128px"
			src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"></img>
		</div> -->
	</div>
	

</body>
</html>