<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css"></link> -->

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"></link>


</head>
<body class="container">
	<h1>
		List - Face <span class="badge badge-secondary"> detection
			Application</span>
	</h1>

	<ul>
		<li th:text="${allFiles}">Read the data from Database</li>
		<li>Create rest controller with persistence </li>
		<li>Display the uploaded images in html file</li>
		<li>For layout use BootStrap</li>
		<li>Create 3 or 4 colums per row</li>
	</ul>
	
	<div class="container">
		<img alt="No Image" src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"></img>
	</div>

</body>
</html>